@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --fondo1: #f5e6ca;
    --texto: #1b1a17;
    --fond2: #fb9300;
    --fond3: #f54748;
    --fond4: #343f56;

    --fuente: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 30px;
    display: flex;
}
.body-contain{
    margin: auto;
    background-color: var(--fondo1);
    color: var(--texto);
    padding: 20px 30px;
    font-family: var(--fuente);
}

header>h1{
    margin: 0;
    text-align: center;
}
header>p{
    font-weight: normal;
    margin: 7px 0;
}
header p>span{
    font-weight: bolder;
}

.body-contain>div{
    padding: 0 20px;
    font-size: 14px;
}

.option-menu.print{
    background-color: var(--fond3);
    margin-top: 20px;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}
.option-menu{
    padding: 20px 0 0 0;
}
.option-menu>div.flex{
    display: flex;
    align-items: center;
}
    .topic{
        margin: 0;
    }
.resul{
    background-color: #fff5fd;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 5px 15px;
    border-radius: 3px;
    min-width: 50px;
    color: var(--texto);
}
.btn-calc{
    background-color: var(--fond2);
    color: var(--texto);
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.btn-print{
    background-color: var(--fond4);
    color: var(--fondo1);
    font-weight: bolder;
    padding: 7px 20px;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 300px;
    margin: 20px auto;
}

.option-menu .contenido>p{
    font-weight: 600;
    display: flex;
    align-items: center;
}
.option-menu .contenido p>.input-relle{
    padding: 6px 12px;
    border: 1px solid var(--fond4);
    border-radius: 3px;    
    margin-left: 20px;
}